.jumbotron{
    background-color: white;
}
.recipeImg {
    width:100%;
    height:10em;
    object-fit: cover;
}
.card {
    height:95%;
    margin-bottom: 2em;
    width:20em;
    
}

#num {
    width:4.5em;
}

#diet {
    margin-top:1em;
    width:10.5em;
}

.input > input {
    width:50em;
    height:3em;
}
button {
    margin-top:2em;
}

.loader {
    width: 60px;
    height: 60px;
    background: transparent;
    border: 10px solid transparent;
    border-top-color: #f56;
    border-left-color: #f56;
    border-radius: 50%;
    animation: loader .75s 10 ease forwards;
    margin-left:45%;
    margin-bottom: 10%;
  }
  
  @keyframes loader {
    100% {
      transform: rotate(360deg);
    }
  }