

<div class="jumbotron input">
  <div *ngIf="error">
    <div class="alert alert-danger" id='error' role="alert" >{{error.msg}}</div>
  </div>
  <div class="row">
    <div class="col">
      <input
        type="text"
        *ngIf="change"
        class="form-control"
        id="ingredients"
        placeholder="Enter some ingredients"
        [(ngModel)]="ingredients"
      />

      <input
        type="text"
        *ngIf="!change"
        class="form-control"
        id="main"
        placeholder="Enter the name of a recipe e,g, Burger, Pizza, Pie"
        [(ngModel)]="main"
      />
    </div>

    <div class="col" id="colNum">
      <select class="form-control" id="num" [(ngModel)]="number">
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
      </select>
    </div>
  </div>
  <div *ngIf="ext" id="extra" [@fade]="onclick ? 'in' : 'out'">
    <div class="row mt-4" *ngIf="!change">
      <div class="col">
        <label for="diet" class="labels">Diet</label>
        <div class="row">
          <div class="col">
            <select
              class="form-control custom-select"
              id="diet"
              [(ngModel)]="diet"
            >
              <option></option>
              <option>vegetarian</option>
              <option>vegan</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="intol" class="labels">Intolerances</label>

        <div class="row">
          <div class="col">
            <select
              class="form-control custom-select"
              id="intol"
              [(ngModel)]="intol"
            >
              <option></option>
              <option>Egg</option>
              <option>Gluten</option>
              <option>Dairy</option>
              <option>Wheat</option>
              <option>Peanut</option>
              <option>Sesame</option>
              <option>Seafood</option>
              <option>Shellfish</option>
              <option>Soy</option>
              <option>Sulfite</option>
              <option>Tree nut</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col">
        <label for="exclude" class="labels">Exclude ingredients</label>

        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="exclude"
              placeholder="Excluded ingredients e,g coconut,apple"
              [(ngModel)]="exclude"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    (click)="getByIngredients()"
    *ngIf="change"
    type="button"
    class="btn btn-success"
    [disabled]=" !ingredients"
  >
    Submit
  </button>
  <button
    (click)="getBySearch()"
    *ngIf="!change"
    type="button"
    class="btn btn-success"
    [disabled]="!main"
  >
    Submit
  </button>
  <button
    (click)="changeSearch()"
    *ngIf="change"
    type="button"
    class="btn btn-primary btn-sm ml-3"
  >
    Search by recipe
  </button>
  <button
    (click)="changeSearch()"
    *ngIf="!change"
    type="button"
    class="btn btn-primary btn-sm ml-3"
  >
    Search by ingredients
  </button>
  <button
    (click)="extra()"
    *ngIf="!ext && !change"
    type="button"
    class="btn btn-dark btn-sm ml-3"
    id="extraButton"
  >
    Extra requirements
  </button>
</div>
<div class="loader" *ngIf="loading"></div>
<hr class="my-4" />
<div class="container"  [@fade]="animationTrigger ? 'out' : 'in'">
  <div class="row" id="card-bg">
    <div class="col" id="col-mobile" *ngFor="let recipe of recipes">
      <div class="card">
        <img class="card-img-top recipeImg" *ngIf="ingreServ" src="{{ recipe.image }}" />
        <img
          class="card-img-top recipeImg"
          *ngIf="!ingreServ"
          src="https://spoonacular.com/recipeImages/{{ recipe.image }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title | slice: 0:24 }}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a id="card-button" routerLink="/recipe/{{ recipe.id }}" class="btn btn-primary"
            >Go somewhere</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

