<div class="container mt-3">
    <div class="loader" *ngIf="loading"></div>
    <div *ngIf="!loading">
    <div id="cont" *ngFor="let recipes of recipe">
     
            <h5 id="title" >{{recipes.title}}</h5>
            <div class="row">
                <div class="col-6 " id="mobileImg">
                    <img id="image" src="{{recipes.image}}" alt="Card image cap">             
                </div>
                <div class="col-6" id="mobileText">
                    <div class="row">
                        <div class="col">
                            <div class="Listbtn">
                                <button class="btn btn-light" [disabled]=" instructionsChange" id="btnInstructions" (click)="changeToInstruction()">Instructions</button>
                                <button class="btn btn-light" [disabled]=" ingredientsChange" id="btnIngredients" (click)="changeToIngredients()">Ingredients</button>
                                <button class="btn btn-light" [disabled]=" extrasChange" id="btnExtra" (click)="changeToExtra()">Summary</button>
                            </div>
                        </div>
                    </div>
                    
                    <ngx-simplebar id="text-bg" [options]="options">
                        <div *ngFor="let number of numbers">
                            <p id="text" style="white-space: pre-line;" *ngIf="instructionsChange">{{recipes.instructions}}</p>
                            <p id="text" style="white-space: pre-line;" *ngIf="ingredientsChange" ><span *ngFor="let ingredient of recipes.extendedIngredients">{{ingredient.originalString}} <br/></span></p>
                            <p id="text" style="white-space: pre-line;" *ngIf="extrasChange" ><span innerHTML="{{recipes.summary}}"></span></p>
                         </div>
                        
                    </ngx-simplebar>
            </div>
        </div>
    </div>
</div>
</div>
